<?php

return [

    /*
    |--------------------------------------------------------------------------
    | Third Party Services
    |--------------------------------------------------------------------------
    |
    | This file is for storing the credentials for third party services such
    | as Stripe, Mailgun, Mandrill, and others. This file provides a sane
    | default location for this type of information, allowing packages
    | to have a conventional place to find your various credentials.
    |
    */

    'mailgun' => [
        'domain' => env('MAILGUN_DOMAIN'),
        'secret' => env('MAILGUN_SECRET'),
    ],

    'mandrill' => [
        'secret' => env('MANDRILL_SECRET'),
    ],

    'ses' => [
        'key' => env('SES_KEY'),
        'secret' => env('SES_SECRET'),
        'region' => 'us-east-1',
    ],

    'sparkpost' => [
        'secret' => env('SPARKPOST_SECRET'),
    ],

    'stripe' => [
        'model' => App\User::class,
        'key' => env('STRIPE_KEY'),
        'secret' => env('STRIPE_SECRET'),
    ],

    'facebook' => [
        'client_id' => '297139310639503',
        'client_secret' => '7fd7350ca62ed30a944e69a73dde3efc',
        'redirect' => 'http://yesno.cakjet.com/callback/facebook',
    ],

     'google' => [
            'client_id' => '704202951112-cqjtnu8gvqk68ndbmc5j08vqklhaoskt.apps.googleusercontent.com',
            'client_secret' => 'OJ8WkpqzvP1dEw1ql2yg0ITr',
            'redirect' => 'http://yesno.cakjet.com/callback/google',
        ],

];
